<% include layoutTop %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= title %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/connect">Connect</a></li>
          <li class="active"><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <div style="margin-top:100px !important;">
  <table class="table table-striped table-bordered" style="width:500px;">
    <tr><th>Hall of Fame</th></tr>
    <% for(var i =0; i<names.length;i++) { %>
        <tr><td><%=names[i]%></td></tr>
    <%  } %>
  </table>
</div>
  <footer>
    <p>&copy; <%= author %></p>
  </footer>

</div> <!-- /container -->
<% include layoutBottom %>