<% include layoutTop %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/connect">Connect</a></li>
          <li><a href="/about">Hall of Fame</a></li>
          <li><a href="/contact">Contact</a></li>
          <li class="active"><a href="/i18n">i18n</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="hero-unit">
	<div class="row">
		<div class="span5">
			<h2>Mission I18N</h2>
       		<p><%= lingua.greeting(author) %></p>
		</div>
      	<div class="span5">
        	<div style="text-align:center; margin-top:20px; margin-left:30px;">
				<h2><%= lingua.headline %></h2>
      			<a class="btn" href="?language=de-de"><%= lingua.navigation.german %></a>
      			<a class="btn" href="?language=en"><%= lingua.navigation.english %></a>
			</div>
		</div>
	</div> <!-- row-->
</div>

<% include layoutBottom %>