.myLabel {
  margin-top: 15%;
  width: 120%;
  padding: 5px 10px 5px 10px;
}
.myContainer {
  margin-top: 10%;
}

body {
    font-family: sans-serif;
}
#cam {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 360px;
}
#batteryProgress {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#stats {
    margin-top:10%;
}

.buttons {
    padding:2%;
    text-align: center;
}
.dropdown-menu {
    text-align: left;
}

#mobileJoystick{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
}

@-webkit-keyframes blinkTriangle { 
   50% { border-color: transparent transparent #000000 transparent; } 
}

@-webkit-keyframes blinkText { 
   50% { color: #000000; } 
}

#alertScreen{
    position:absolute;
    -webkit-animation-name: blinkTriangle ;
    -webkit-animation-duration: .5s ;
    -webkit-animation-timing-function: step-end ;
    -webkit-animation-iteration-count: infinite ;
    -webkit-animation-direction: alternate ;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 208px 360px 208px;
    border-color: transparent transparent #ff0000 transparent;
}

#alertScreen2{
    position:absolute;
    margin-top: 33px;
    margin-left: 28px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 180px 311.8px 180px;
    border-color: transparent transparent #ffffff transparent;
}

#alertScreen2 > p{
    -webkit-animation-name: blinkText ;
    -webkit-animation-duration: .5s ;
    -webkit-animation-timing-function: step-end ;
    -webkit-animation-iteration-count: infinite ;
    -webkit-animation-direction: alternate ;
    text-align:center;
    color: #ff0000;
    line-height: 50px;
    width: 150px;
    height: 50px;
    font-size:50px;
    margin-left: -70px;
}

#alertScreen2 > p:first-child{
    margin-top: 120px;
}

#alertScreen2 > p:last-child{
    margin-left: -80px;
}

#attention{
    margin-left: 178px;
}

@media screen and (device-aspect-ratio: 40/71) and (orientation : landscape) {
    body{
        padding: 0 !important;
    }

    #mobileNavbar{
        padding-left: 20px;
        padding-right: 20px;
    }

    #cam{
        margin-top: -10px !important;
        width: 100%;
        margin-left: -2.5px !important;
        height: 320px !important;
    }

    #mobileButtons{
        margin-top: -100px;
        margin-left: 10px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape){
    #cam{
        margin-top: -10px !important;
        width: 100%;
        height: 500px;
    }
    .mobileView{
        width: 900px !important;
    }

    #mobileState{
        width: 900px;
        margin-left: 5px;
        margin-top: 5px;
    }
    
    #mobileBatteryProgress{
        margin-top: 5px;

    }

}


